* {
  box-sizing: border-box;
  padding: 0;
  /* margin: 0; */
  /* background-repeat: no-repeat; */
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/assets/mountain.png");
  background-size:cover;
  background-repeat: no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --vscode: #252934;
  --turq: rgb(27, 141, 141);
  --blueish: #103e6c;
}


/* ===================== Header Section ===========================*/

.headerSection {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.headerList {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin-left: 25px;
  border:5px solid rgba(52, 2, 192, 0.18);
  border-radius: 10px;
  color:cyan;
}


/* ====================== AboutMe Section =======================*/

.aboutMeHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


.aboutMeSelfie {
  height: 275px;
  width: 200px;
  background-image: url("../src/assets/Selfie.jpg");
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border:5px solid rgba(52, 2, 192, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin: auto;
}


.mainContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border:2px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
}


.HelloWelcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
}

.IntroParagraph {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
  font-size: 25px;
}




/* ======================= RESUME =========================== */

.resumePdfSection{
  height: 50px;
  width: 40px;
}

.resume-pdf {
  height: 25px;
  width: 20px;
}

.pdfImage {
  height: 25px;
  width: 20px;
}

/* ==================== Footer section ====================== */





/* .footer-section {
  padding: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--vscode);
  color: var(--blueish);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */

.githubFooterLogo {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.linkedFooterLogo {
   width: 50px;
  height: 50px;
  padding: 5px;
}

.instaFooterLogo {
    width: 50px;
  height: 50px;
  padding: 5px;
}

.gmailFooterLogo {
 width: 50px;
  height: 50px;
  padding: 5px;
}

.flex-contact-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
  margin-bottom: ;
  justify-content: center;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact-links:hover {
  box-shadow: 0 0 5px var(--vscode);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  padding: 6px;
  margin: 6px;
  border-radius: 25%;
  outline: 2px transparent var(--turq);
}
/* =============== media queries for different screen sizes ======================*/

@media screen and (minwidth: 992px) {
    .flex-image-links {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (minwidth: 992px) {
    .mainContent {
        flex: 0 0 50%;
        max-width: 50%;
    }
}